# Ignore node_modules in the frontend folder
frontend/node_modules/

# Ignore node_modules in the backend folder
backend/node_modules/

# Ignore any built files for the frontend
frontend/build/
frontend/dist/

# Ignore any built files for the backend
backend/build/
backend/dist/
node_modules
#ignore the backend folder as it is not needed in the frontend
backend/
