.scroll-menu {
  overflow: auto;
  white-space: nowrap;
}

.link {
  border: none;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px;
  font-size: larger;
}