.cover-img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40vh;
}

.author {
}
.author:hover {
  cursor: pointer;
}

.avatar {
  display: block;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: 16px auto;
}
.avatarbtn{
  margin-left: 45%;
}
.profilehero{
  width: 100% !important;
}